@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap");
// color

$black: #2b283a;

// ## Typography

$ff-pri: "Dosis", sans-serif;

$Font-size: 100%;

$fs-xxs: 0.75rem;
$fs-xs: 0.875rem;
$fs-s: 1rem;
$fs-m: 1.125rem;
$fs-l: 1.5rem;
$fs-xl: 1.875rem;
$fs-xxl: 2.25rem;
$fs-xxxl: 3rem;

$fw-light: 300;
$fw-main: 400;
$fw-bold: 500;
$fw-bolder: 700;
$fw-dark: 900;
