@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700;800&display=swap");
// color

$black: #2b283a;
$purple: #5f29a3;
$pink: #d0aaff;
$light-pink: #f0e0ff;
$white: whitesmoke;
$red-link-text: #ef5839;
$orange-hover-text: #d4b44c;
$yellow: #f3e885;

// ## Typography

$ff-pri: "Dosis", sans-serif;

$Font-size: 100%;

$fs-xxs: 0.75rem;
$fs-xs: 0.875rem;
$fs-s: 1rem;
$fs-m: 1.125rem;
$fs-l: 1.5rem;
$fs-xl: 1.875rem;
$fs-xxl: 2.25rem;
$fs-xxxl: 3rem;

$fw-light: 300;
$fw-main: 400;
$fw-bold: 500;
$fw-bolder: 700;
$fw-dark: 800;
